<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="foundation/css/foundation.css" />
    <link rel="stylesheet" href="foundation/foundation-icons/foundation-icons.css" />
    <script src="foundation/js/modernizr.js"></script>
    <script src="angular/angular.min.js"></script>
    <script src="foundation/js/jquery.js"></script>
    <script src="main.js" type="text/javascript"></script>
  </head>
  <body>

  <nav class="top-bar" data-topbar>
      <ul class="title-area">
          <li class="name">
              <h1><a href="#">Corpus Stats</a></h1>
          </li>
      </ul>

      <!--<section class="top-bar-section">
          &lt;!&ndash; Right Nav Section &ndash;&gt;
          <ul class="right">
              <li class="active"><a href="#">Right Nav Button Active</a></li>
              <li class="has-dropdown">
                  <a href="#">Right Button with Dropdown</a>
                  <ul class="dropdown">
                      <li><a href="#">First link in dropdown</a></li>
                  </ul>
              </li>
          </ul>

          &lt;!&ndash; Left Nav Section &ndash;&gt;
          <ul class="left">
              <li><a href="#">Left Nav Button</a></li>
          </ul>
      </section>-->
  </nav>

  <div ng-cloak ng-app="TabsApp" ng-controller="TabManagerCtrl">
    <div ng-show="loading" class="centered"><h5><img src="loader-lb.gif" style="width:25px;margin-right:5px;margin-top:-1px;"/> Updating data...</h5></div>
  <div style="float:left;width:520px;padding-left:10px;">
      <div class="container" >

          <div class="mainpanel mainpanel-main">
              <div style="float:left">
                  <h3>Main word</h3>
                  <select ng-options="item.partOfSpeech as item.text | capitalize for item in tabManager.selectItems" ng-model="selectedPos" style="float:left;width:200px;margin-right:10px;">
                      <option style="display:none" value="">Choose part of speech</option>
                  </select>
                  <a ng-click="tabManager.addTab()" style="float:left;" href="#" class="button tiny">Add</a>
              </div>

              <div style="float:left;margin-left:10px;">
                  <div class="pospanel" ng-repeat="tabInfo in tabManager.tabItems">
                      <div class="clearfix">
                          <h5 class="left">{{ tabInfo.title | capitalize }}</h5>
                          <div class="right">
                            <a ng-if="tabInfo.content.length != 0" onClick="collapse()" style="margin-right:5px;" ng-click="" href="#"><i class="fi-minus medium"></i></a>
                            <a ng-click="tabManager.removeTab($index)" href="#"><i class="fi-x medium"></i></a>
                          </div>
                      </div>
                      <!--<a ng-repeat="property in tabInfo.content" href="#" style="margin-right:5px;" class="button tiny">{{property.text | capitalize}}</a>-->
                      <div ng-class="tabManager.getLabelClass(tabInfo, $index)" class="label label-property" ng-repeat="property in tabInfo.content">
                        <span ng-click="showSettings = ! showSettings" class="label-title">{{property.text | capitalize}}</span> {{tabManager.getLabelString(property)}}
                        <div class="property-settings" ng-class="{ 'hidden': ! showSettings }">
                          <select multiple data-customforms="disabled"
                                  ng-options="val.ident as val.text for val in property.values"
                                  ng-model="property.select"
                                  ng-change="tabManager.updateSelected(property)"
                                  >
                          </select>
                        </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="mainpanel mainpanel-dep">
            <div style="float:left">
              <h3>Dependent word</h3>
              <select ng-options="item.partOfSpeech as item.text | capitalize for item in tabManagerDep.selectItems" ng-model="selectedPosDep" style="float:left;width:200px;margin-right:10px;">
                <option style="display:none" value="">Choose part of speech</option>
              </select>
              <a ng-click="tabManagerDep.addTab()" style="float:left;" href="#" class="button tiny">Add</a>
            </div>

            <div style="float:left;margin-left:10px;">
              <div class="pospanel" ng-repeat="tabInfo in tabManagerDep.tabItems">
                <div class="clearfix">
                  <h5 class="left">{{ tabInfo.title | capitalize }}</h5>
                  <div class="right">
                    <a ng-if="tabInfo.content.length != 0" onClick="collapse()" style="margin-right:5px;" ng-click="" href="#"><i class="fi-minus medium"></i></a>
                    <a ng-click="tabManagerDep.removeTab($index)" href="#"><i class="fi-x medium"></i></a>
                  </div>
                </div>
                <!--<a ng-repeat="property in tabInfo.content" href="#" style="margin-right:5px;" class="button tiny">{{property.text | capitalize}}</a>-->
                <div ng-class="tabManagerDep.getLabelClass(tabInfo, $index)" class="label label-property" ng-repeat="property in tabInfo.content">
                  <span ng-click="showSettings = ! showSettings" class="label-title">{{property.text | capitalize}}</span> {{tabManagerDep.getLabelString(property)}}
                  <div class="property-settings" ng-class="{ 'hidden': ! showSettings }">
                    <select multiple data-customforms="disabled"
                            ng-options="val.ident as val.text for val in property.values"
                            ng-model="property.select"
                            ng-change="tabManagerDep.updateSelected(property)"
                        >
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div ng-click="tabManager.getProperties()" class="info-panel-right">
      <div class="container">
          <div class="panel callout radius">
            <div class="container">
              <div ng-if="tabManager.tabItems.length != 0 && tabManagerDep.tabItems.length != 0">
                <h4>Showing results for query<br/>
                  <span ng-repeat="tabInfo in tabManager.tabItems">
                    <b data-tooltip class="has-tip" ng-attr-title="{{tabInfo.title | capitalize}}">{{tabInfo.partOfSpeech}}</b>
                    <span ng-repeat="property in tabInfo.content">
                      {{tabManager.getLabelString(property)}}
                    </span>
                  </span>
                  <span ng-if="tabManager.tabItems.length != 0 && tabManagerDep.tabItems.length != 0">></span>
                  <span ng-repeat="tabInfo in tabManagerDep.tabItems">
                    <b data-tooltip class="has-tip" ng-attr-title="{{tabInfo.title | capitalize}}">{{tabInfo.partOfSpeech}}</b>
                    <span ng-repeat="property in tabInfo.content">
                      {{tabManager.getLabelString(property)}}
                    </span>
                  </span>
                </h4>
              </div>
              <div ng-if="tabManager.tabItems.length == 0 || tabManagerDep.tabItems.length == 0">
                <h4>Please, use panels to the left to form a query.</h4>
              </div>
            </div>
          </div>

        <dl ng-show="stats.length > 0" class="tabs vertical property-panel" data-tab>
          <dd ng-repeat="combination in stats">
            <a ng-click="getSentences($index)" href="#{{combination.count}}"><h5>{{combination.count}}</h5>
              <span class="main-partOfSpeech">{{combination.main.partOfSpeech}}</span> > <b>{{combination.dep.partOfSpeech}}</b><br/>
              <div ng-if="combination.main.properties.length != 0" class="label properties-label">{{combination.main.properties | join}}</div>
              <div ng-if="combination.dep.properties.length != 0" class="secondary label properties-label">{{combination.dep.properties | join}}</div>
            </a>
          </dd>
        </dl>
        <div style="width:75%" class="tabs-content vertical sentence-panel">
          <div ng-class="{true: 'active'}[$first]" ng-repeat="combination in stats" class="sentence-table content" id="{{combination.count}}">

              <table>
                  <thead>
                  <tr ng-show="sentences.length > 0">
                    <th colspan="3">
                      <div ng-switch on="sentences.length">
                        <h5 ng-switch-when="100">
                          Showing first <b>100</b> sentences.
                          <a style="border-bottom:1px dashed grey" href="#">Load more</a>
                        </h5>
                        <h5 ng-switch-default>
                          Showing <b>{{sentences.length}}</b> sentences.
                        </h5>
                      </div>
                    </th>
                  </tr>
                  <tr>
                      <th width="50">ID</th>
                      <th width="200">Bigram</th>
                      <th>Sentence</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr ng-show="sentenceLoading"><td colspan="3" style="text-align:center;"><h5><img src="loader.gif" style="width:25px;margin-right:5px;margin-top:-1px;"/> Loading sentences...</h5></td></tr>
                    <tr ng-show="!sentenceLoading && sentences.length == 0"><td colspan="3" style="text-align:center;"><h5>Select bigram from the list to load sentences.</h5></td></tr>
                    <tr ng-repeat="sentence in sentences">
                        <td>{{sentence.id}}</td>
                        <td>{{sentence.bigram}}</td>
                        <td>{{sentence.sentence}}</td>
                    </tr>
                  </tbody>
              </table>
          </div>
        </div>

        <!--<dl class="tabs vertical" data-tab>
          <dd class="active"><a href="#panel1a">Tab 1</a></dd>
          <dd><a href="#panel2a">Tab 2</a></dd>
          <dd><a href="#panel3a">Tab 3</a></dd>
          <dd><a href="#panel4a">Tab 4</a></dd>
        </dl>
        <div class="tabs-content vertical">
          <div class="content active" id="panel1a">
            <p>Panel 1 content goes here.</p>
          </div>
          <div class="content" id="panel2a">
            <p>Panel 2 content goes here.</p>
          </div>
          <div class="content" id="panel3a">
            <p>Panel 3 content goes here.</p>
          </div>
          <div class="content" id="panel4a">
            <p>Panel 4 content goes here.</p>
          </div>
        </div>-->

        <!--<div class="panel radius datapanel">
          <div class="container">
            <h3>{{stats}}</h3>
            <pre>{{dataToSend | json}}</pre>


          </div>
        </div>-->
      </div>
  </div>
  </div> <!-- /app -->

  <script src="foundation/js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>
  </body>
</html>
