body {
}

.mainpanel {
    padding:10px;
    margin-bottom:10px;
    width:500px;
    border-radius:3px;
    border:1px solid #e1e1e1;
}

.mainpanel-main {
  background-color: #f5f5f5;
  position:relative;
}

.mainpanel-dep {
    background-color: #f5f5f5;
}

.mainpanel-collapsed {
    background-color: lightgrey;
    padding:10px;
}

/* For modern browsers */
.mainpanel:before,
.mainpanel:after {
    content:"";
    display:table;
}
.mainpanel:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.mainpanel {
    zoom:1;
}

.pospanel {
    background-color: #e7e7e7;
    padding:10px;
    margin-right:10px;
    margin-top:10px;
    float:left;
    min-width:224px;
    z-index:0;
}

.pospanel h5 {
    margin-right:25px;
}

.label-property {
  margin:5px;
  vertical-align: top !important;
  z-index:0 !important;
}

.label-property:hover {
  cursor:pointer;
  opacity:0.9;
}

.label-title {
  font-size:13px;
  font-weight:bold;
  border-bottom: 1px dashed #e6e6e6;
  z-index:1000;
}

.property-settings {
  max-height: 100px;
  transition: .3s;
  overflow: hidden;
  text-align:left !important;
  z-index:1000 !important
}

.property-settings p {
  padding-top:10px;
  margin-bottom:0px;
  font-size:10px;
}

.property-settings select {
  margin-top:10px;
}

.settings-checkbox {
  margin:0 !important;
}

.property-settings.hidden {
  max-height: 0;
}

.info-panel-right {
  margin-left:520px;
  margin-top:10px;
  margin-right:10px;
}

.datapanel {
    margin-top:-10px;
    min-height:500px;
}

.loading {
  position:fixed;
  top:0;
  left:0;
  width:500px;
  height:500px;
  background-color:#000;
  z-index:10000000;
}

.properties-label {
  font-size:10px;
}

.main-partOfSpeech {
  font-weight:bold;
  color:#007295
}

.property-panel {
  width:25% !important;
  border:1px solid #e1e1e1;
  border-radius: 3px;
  margin-top:-10px;
}

.sentence-panel {
  margin-top:-10px;
}

.sentence-table {
  padding-left:10px !important;
  padding-right:0px !important;
}

.sentence-table > table {
  border-radius: 3px;
}

.centered {
  position:fixed;
  z-index: 100;
  top:50%;
  left:50%;
  margin:-25px 0 0 -100px;
  width:200px;
  height:50px;
  border:1px solid #baeeff;
  border-radius: 5px;
  background-color:#DBF8FF;
}

.centered h5 {
  margin:0 auto;
  text-align:center;
  margin-top:10px;
}

.importantWidth { width: auto !important; }